@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  box-sizing: border-box;
   -webkit-backface-visibility:hidden;
     -moz-backface-visibility:hidden;
      -ms-backface-visibility:hidden;
       -o-backface-visibility:hidden;
          backface-visibility:hidden;
}

*, ::after, ::before {
    box-sizing: border-box;
}
@-ms-viewport {
    width: device-width;
}

body {
  font-size: 1.3rem;  
  background: linear-gradient(to bottom, #151414 100%, #2A2828 0%);
  min-height: 100vh;
  min-height: -webkit-fill-available;
  -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: -webkit-fill-available;
}


a {
  color: #333;
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}

.main-header {
  height: 70vh;
  padding: 2rem;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-header h1 {
  font-size: 4rem;
  margin: 1rem;
  line-height: 1.2;
}

.main-header h1 span {
  color: orangered;
}

.main-header p {
  font-size: 1.2rem;
  margin-top: 40px;
  color: #fff;
}

img {
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #f1f1f1;
  margin-bottom: 2rem;
}

.card h3 {
  margin-bottom: 2rem;
}

.card img {
  height: 400px;
}

.card > div {
  padding: 2rem;
}

.card:nth-child(even) img {
  order: 2;
}


.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

@media(max-width:850px) {
  .card {
    display: block;
  }
  .main-header h1 span {
  color: orangered;
  }

  .main-header{
    height: 80vh;
    margin-top: 30px;

  }

  .main-header p {
  font-size: 1rem;
  margin-top: 0px;
  color: #fff;
  text-align: justify-all;
  }

}

@media(max-width:450px){
  .main-header{
    height: 110vh;
    margin-top: 90px;

  }

  .main-header h1 {
  font-size: 4rem;
  margin: 1rem;
  line-height: 1.2;
}

  .main-header p {
  font-size: 0.95rem;
  margin-top: 0px;
  color: #fff;
  text-align: justify-all;
  }


}



/* nav bar */

  nav{
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;  
    background: #fff;    
  }
  nav .wrapper{
    position: relative;
    max-width: 2500px;
    padding: 0px 30px;
    height: 90px;
    line-height: 10px;
    margin: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrapper .logo img{
    position: absolute;
    left: 0px;
    top: -3px;
    width: 98px;
    height: 96px;
  }

  .wrapper .logoext img{
    position: absolute;
    left: 40%;
    top: 0px;
    width: 68px;
    height: 66px;
    visibility: hidden;
  }

  .wrapper .logo a{
    position: absolute;
    left:  80px;
    top: 0px;
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
  }
  .wrapper .nav-links{
    display: inline-flex;
  }
  .nav-links li{
    list-style: none;
  }
  .nav-links li a{
    color: #000 ;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
    padding: 10px 15px;
    padding-top: 10px;
    border-radius: px;
    transition: all 0.3s ease;
  }
  .nav-links li a:hover{
    color: #0CB47F;
    font-weight: 500;
    font-size: 20px;
    transition: all ease-in-out 0.01s;
  }

  #donate-btn{
    margin-left: ;
    color: #fff;
    background: linear-gradient(to bottom,#FF8833 0%,#EE752F 100%);
    border-radius: 10px;
  }
  #donate-btn:hover{
    background: linear-gradient(to bottom,#EE752F 0%,#FF8833 100%);

  }

  
  .wrapper .nav-links {
      display: inline-flex;
  }
  dl, ol, ul {
      margin-top: 0;
      margin-bottom: 0;
  }
  ol, ul {
      padding-left: 1rem;
      padding-right: 1rem;
  }  


  .nav-links .mobile-item{
    display: none;
  }
  .nav-links .drop-menu1,
  .nav-links .drop-menu2{
    position: absolute;
    background: linear-gradient(to top, #2A2828 10%, #494646 80%);
    width: 230px;
    line-height: 28px;
    top: 85px;
    opacity: 0;
    padding: 0 0 0 5px;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  .nav-links .drop-menu2{
    width: 140px;
  }
  .nav-links li:hover .drop-menu1,
  .nav-links li:hover .drop-menu2
  { transition: all 0.3s ease-in;
    top: 56px;
    border-radius: 10px;
    opacity: 1;
    padding: 0px;
    visibility: visible;
    cursor: auto;
  }
  .drop-menu1 li a,
  .drop-menu2 li a{
    width: 100%;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    padding: 5px 2px 5px 15px;
    font-weight: 400;
    border-radius: 5px;
  }

  .wrapper .btn{
    position: absolute;
    background: #0000 ;
    left:  -47px;
    top: -32px;
    color: #000;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  .wrapper .btn.close-btn{
    color: ##ffff;
    position: absolute;
    left: 275px;
    top: -15px;
  }

  .label .btn.menu-btn{
    position: absolute;
    left: 10px;
    top: 6px;
    color: ##ffff;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }

  @media screen and (max-width: 1000px){
    .wrapper .logo img{
      left: -80px;
    }
    
  } 

  @media screen and (max-width: 800px) {
    .wrapper .logo img{
      visibility: hidden;
    }

    .wrapper .logoext img{
    visibility: visible;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: -4px;
    left: 40%;
    background-size: cover;
    width: 96px;
    height: auto;
    }

    .wrapper .btn{
      display: block;
      color: ##ffff;
    }

    .wrapper .btn.close-btn{
      color: #ffff;
    }

    .fas.fa-times{
      color: #ffff;
    }


    .wrapper .nav-links{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 350px;
      top: 0;
      left: -100%;
      background: #242526;
      display: block;
      padding: 50px 10px;
      line-height: 50px;
      overflow-y: auto;
      box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
      transition: all 0.3s ease;
    }

    .nav-links li a{
    color: #ffff ;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    }

    .nav-links li a:hover{
    color: #0CB47F;
    font-weight: 500;
    font-size: 20px;
    transition: all ease-in-out 0.01s;
  }


    .nav-links .drop-menu1,
    .nav-links .drop-menu2{
    position: absolute;
    background: #242526;
    }





    /* custom scroll bar */
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #242526;
    }
    ::-webkit-scrollbar-thumb {
      background: #3A3B3C;
    }
    #menu-btn:checked ~ .nav-links{
      left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn{
      display: none;
    }
    #close-btn:checked ~ .btn.menu-btn{
      display: block;
    }
    .nav-links li{
      margin: 15px 10px;
    }
    .nav-links li a{
      padding: 0 20px;
      display: block;
      font-size: 20px;
    }
    .nav-links .drop-menu1,
    .nav-links .drop-menu2{
      position: static;
      opacity: 1;
      top: 65px;
      visibility: visible;
      padding-left: 30px;
      width: 100%;
      max-height: 0px;
      overflow: hidden;
      box-shadow: none;
      line-height: 40px;
      transition : all 0.3s ease-in-out;
    }
    #showDrop1:checked ~ .drop-menu1,
    #showDrop2:checked ~ .drop-menu2
    {
      max-height: 100%;
    }
    .nav-links .desktop-item{
      display: none;
    }
    .nav-links .mobile-item{
      display: block;
      color: #f2f2f2;
      font-size: 20px;
      font-weight: 500;
      padding-left: 20px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
    .nav-links .mobile-item:hover{
      background: #3A3B3C;
    }
    .drop-menu1 li,
    .drop-menu2 li{
      margin: 0;
      padding: 5px 0;

    }
    .drop-menu1 li a,
    .drop-menu2 li a{
      border-radius: 5px;
      font-size: 18px;
      padding: -35px;
    }

  }
  nav input{
    display: none;
  }

  @media screen and (max-width: 660px){
    .wrapper .logoext img{
      left: 35%;
    }
  }
/* nav bar end*/

/* Social Icons */
    .whiteText{
        color: #fff;
    }
    .fixedsocial{
        z-index: 999;
        position: fixed;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    .fixedsocial .share i.fa, .fixedsocial .share i.fab{
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%}
    .fixedsocial .share i.fa{
        line-height: 50px;
    }
    .fixedsocial .submenu i.fa{
        background-color: #fff;
    }
    .fixedsocial .share:hover.right .submenu li:nth-child(1){
        opacity: 1;
        top: -80px;
        left: 0px;
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
        -webkit-transition-delay: 80ms;
        -o-transition-delay: 80ms;
        transition-delay: 80ms;
    }
    .fixedsocial .share:hover.right .submenu li:nth-child(2){
        opacity: 1;
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
        -webkit-transition-delay: .16s;
        -o-transition-delay: .16s;
        transition-delay: .16s;
        top: 80px;
        left: 0px;
    }
    .fixedsocial .share:hover.right .submenu li:nth-child(3){
        opacity: 1;
        top: -55px;
        left: 55px;
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
        -webkit-transition-delay: .24s;
        -o-transition-delay: .24s;
        transition-delay: .24s;
    }
    .fixedsocial .share:hover.right .submenu li:nth-child(4){
        opacity: 1;
        top: 55px ;
        left: 55px;
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
        -webkit-transition-delay: .32s;
        -o-transition-delay: .32s;
        transition-delay: .32s;
    }
    .fixedsocial .share:hover.right .submenu li:nth-child(5){
        opacity: 1;
        top: ;
        left: 75px;
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
        -webkit-transition-delay: .4s;
        -o-transition-delay: .4s;
        transition-delay: .4s;
    }
    .fixedsocial .submenu{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .fixedsocial .submenu li{
        -webkit-transition: all ease-in-out .5s;
        -o-transition: all ease-in-out .5s;
        transition: all ease-in-out .5s;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
    }
    .fixedsocial .submenu li a{
        color: #fff;
        font-size: 20px;
    }
    .fixedsocial .submenu li a:hover i.fa{
        color: #fff;
    }
    .fixedsocial .submenu li a.facebook i.fab{
        background-color: #3b5999;
    }
    .fixedsocial .submenu li a.twitter i.fab{
        background-color: #006aff;
    }
    .fixedsocial .submenu li a.linkedin i.fab{
        background-color: #0e76a8;
    }
    .fixedsocial .submenu li a.youtube i.fab{
        background-color: #c70707;
    }
    .fixedsocial .submenu li a.instagram i.fab{
        background-color: #e4405f;
    }
    .fixedsocial.bottomLeft{
        bottom: 50%;
        left: 10px;
    }
    .pinkBg{
        background-color: linear-gradient(to top, #ff5722 0, #f39900 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, from(#ff5722), to(#f39900));
        background-image: -o-linear-gradient(bottom, #ff5722 0, #f39900 100%);
        background-image: linear-gradient(to top, #ff5722 0, #f39900 100%);
    }
    .intro-banner-vdo-play-btn{
        height: 50px;
        width: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50% -50%);
        -ms-transform: translate(-50% -50%);
        transform: translate(-50% -50%);
        text-align: center;
        margin: 0;
        border-radius: 100px;
        z-index: 1;
    }
    .intro-banner-vdo-play-btn i{
        line-height: 50px;
        font-size: 20px;
    }
    .intro-banner-vdo-play-btn .ripple_social{
        position: absolute;
        width: 80px;
        height: 80px;
        z-index: -1;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50% -50%);
        -ms-transform: translate(-50% -50%);
        transform: translate(-50% -50%);
        opacity: 0;
        margin: -40px 0 0 -40px;
        border-radius: 100px;
        -webkit-animation: ripple_social 1.8s infinite;
        animation: ripple_social 1.8s infinite;
    }
    @-webkit-keyframes ripple_social{
        0%{
          opacity: 1;
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        100%{
          opacity: 0;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
    }
    @keyframes ripple_social{
        0%{
          opacity: 1;
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        100%{
          opacity: 0;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
    }
    .intro-banner-vdo-play-btn .ripple_social:nth-child(2){
        animation-delay: .3s;
        -webkit-animation-delay: .3s;
    }
    .intro-banner-vdo-play-btn .ripple_social:nth-child(3){
        animation-delay: .6s;
        -webkit-animation-delay: .6s;
    }
/* Social Icons end */


/* Donation Icon */
    .Donation_box{
      position: fixed;
      right: 5px;
      top: 30vh;
      z-index: 1000;
    }


    .donation_icon{
        width: 52px;
        height: 52px;
        line-height: 52px;
        text-align: center;
        display: block;
        color: #fff;
        background: linear-gradient(to top,#455DD9 0,#8898E7 100%);
        border-radius: 20%;
        font-size: 26px;
        position: relative;
        z-index: 5;
        transition: all 0.3s ease-in-out;
      }
      .donation_icon:hover{
        background: linear-gradient(to top,#455DD9 0,#455DD9 100%) ;
        color: #fff;
        transform: translate(00px, 0px)!important;
      }
/* Donation Icon end */







/* top arrow */
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
  }

  #myBtn i{
    display: block;
    align-items: center;
  }

  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
/* top arrow end*/


/* footer */
  footer{
    position:;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    bottom: 0px !important;
    width: 100%;
    background: url('../images/footer1bg1.jpg')no-repeat center fixed;
    background-size: cover;  
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 0.985rem !important;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
  }

  .left .content1{
    text-align: center;
  }
  .left .content1 img{
    height: 160px;
    width: 160px;
    margin: 20px;
    padding: 0px;
    border-radius: 30%;
  }
  .left .content1 p{
    text-align: center;
    font-size: 0.985rem;
    color: rgba(255, 255, 255, 1);
  }
  .left .content1 .social{
    margin: 0px 10px 0px;
  }
  .left .content1 .social a{
    padding: 0 2px;
  }
  .left .content1 .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    color: #fff;
  }
  .left .content1 .social a span:hover{
    background: #f12020;
  }
  .center .content .fas{
    font-size:0.985rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    color: rgba(255, 255, 255, 1)
  }
  .center .content .fas:hover{
    background: #f12020;
  }
  .center .content .text{
    font-size: 0.985rem;
    font-weight: 500;
    padding-left: 10px;
    color: rgba(255, 255, 255, 1);
  }
  .center .content a{
    text-decoration: none;
  }
  .center .content .phone{
    margin: 15px 0;
  }
  .right form .text{
    font-size: 0.925rem;
    margin-bottom: 2px;
    color: rgba(255, 255, 255, 1);

  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    font-size: 0.925rem;    
    padding-left: 10px;
    border: 1px solid #222222;
    color: #FFF;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #rgba(255, 255, 255, 0.1);
  }
  .right form input{
    height: 35px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
  }
  .right form .btn{
    margin-top: 10px;
    background: #0000;
  }
  .right form .btn button{
    height: 40px;
    width: 150px;
    text-align: center;
    border: none;
    border-radius: 10px;
    outline: none;
    background: linear-gradient(to right, #f12001 100%,#FE3D20 10%);
    color: #ffff;
    font-size: 0.99rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  .right form .btn button:hover{
    background: #f12001;
  }
  .bottom center{
    padding: 5px;
    font-size: 0.675rem;
    background: #151515;
  }
  .bottom center span{
    color: rgba(255, 255, 255, 1)
  }
  .bottom center a{
    color: #F44336;
    font-size: 0.885rem;
    font-weight: 900;
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
      background: url('../images/footer1bg.jpg')no-repeat fixed;
      background-size: cover;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }
/* footer end */


/* parallax effect */
    .parallax{
      background: url('../images/bgparallax42.jpg') no-repeat center fixed;
      -webkit-background-size: cover;
      background-size: cover;      
      background-attachment: fixed;
      height: 380px;
      width: 100%;
      text-align: center;
      align-items: end;
      margin: 10px 0 15px 0;
      -webkit-backface-visibility: hidden;
    }

    .parallax .parallaxtext{
      font-family: 'Caveat', cursive!important;
      font-size: 40px;
      display: inline-block;
      align-items: end;
      color: #ffff;
      margin-top: 10rem;
    }

    @media screen and (max-width: 599px){
      .parallax .parallaxtext{
        display: inline-block;
        text-align: center;
        align-items: center;
        font-size: 30px;
        
      }

    }

/* parallax effect end */
